html, body {
  background-color: #111;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:  Verdana, Arial;
  height: 100vh;
}
