a {
    color:  lightgrey;
    text-decoration: none; 
    vertical-align: middle; /* Aligns link text in the middle */
  }
  
a:hover {
    color: white; 
    text-decoration: none;
    vertical-align: middle; /* Aligns link text in the middle */
  }

.Links{
    display: flex;
    gap: 10px; /* Add spacing between elements */
    margin-bottom: 0;
    padding-bottom: 0;
}

.Links p {
  margin: 0; 
}