.project-name{
    font-size: 1.2rem;
    margin-bottom: 0rem;
    text-decoration: underline;
    color: #fff;
    margin-top: 0.8rem;
}
/*Consider adding padding to name and description for indented lo0k*/

.project-desc > p{
    margin-top: 0.1rem;
    margin-bottom: 0rem;
}
